* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: #2c3e50;
    background: #f6f6f6;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    background: url('../img/back-paper.png');
    background-size: contain;
    border-top: 22px solid rgb(192, 191, 189);
    border-radius: 10px;
}

.popup__choose-name {
    box-sizing: border-box;
    width: 400px;
    position: absolute;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

}

.popup-title {
    padding: 0;
    margin: 0;
    margin-bottom: 21px;
    font-size: 1.2rem;
    font-weight: 400;
}

.field-input-name {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 350px;
    border: 1px solid black;
}

.popup_btn-continue {
    margin-top: 13px;
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
    padding: 9px 67px;
    font-size: 1rem;
    cursor: pointer;
}

.popup_btn-continue:hover {
    background-color: #e7e0e0b3;
}

.error-message {
    box-sizing: border-box;
    width: 300px;
    position: absolute;
    background: white;
    border: 1px solid rgb(120, 9, 9);
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1rem;
    color: rgb(163, 17, 17); 
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none
}

.chat-widget {
    width: 100%;
    display: none;
}

.users {
    box-sizing: border-box;
    width: 300px;
    background: white;
    border: 1px solid rgb(120, 9, 9);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    margin-left: 10px;

    position: absolute;
    left: 0;

}

.users-list {
    list-style: none;
    padding: 0;
}

.user {
    margin-bottom: 5px;
}

.user::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
}

.chat-container {
    box-sizing: border-box;
    width: 550px;
    height: 90vh;
    background: white;
    border: 1px solid rgb(120, 9, 9);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chat {
    overflow-y: auto
}

.chat-message {
    resize: none;
    width: 100%;
    margin-top: 10px;
}
.message-info {
    font-size: 0.8rem;
    color: gray;
    display: flex;
    gap: 3px;
    margin-bottom: 5px;
}

.my-message .message-info {
    font-size: 0.8rem;
    color: gray;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    color: rgb(255, 102, 0)
}

.message-text {
    font-size: 1rem;
    color: black;
    margin-bottom: 15px;
    
}

.my-message {
    text-align: right;
}

.my-nickname {
    color: rgb(255, 102, 0)
}